
.slideshow {
  margin: 100px auto;
  overflow: hidden;
  max-width: 500px;
  box-shadow: 0 0 0 5px $gold, 0 0 0 10px $margarine, 0 0 0 15px $lemon, 0 0 0 20px $blue, 0 0 0 25px #60d8d8;
  background-color: rgba(black, 0.8);
}

.slideshow-slider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}
.slide img {
    height: 400px;
    width: 350px;
}
.joke {
    display: inline;
    white-space: normal;
    color: white;
    font-weight: normal;
}


 /* Buttons */

.slideshowDots {
  text-align: center;
  background-color: none;

}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
  
}

.slideshowDot.active {
    background-color: #16558F;
}

.go-back {
    text-decoration: none;
    color: black;
    padding: 20px 40px;
    background-color: $lemon;
    border-radius: 50%;

    &:hover, 
    &:focus {
      background-color: $blue;
    }
}