$headerFont: 'Monoton', cursive;
$baseFont: 'Chicle', cursive;
$blue: #a8f0f0;
$gold: #f0a848;
$margarine: #f0d830;
$lemon: #f0ffa8;
$pollen: #f0f0a8;
$burnt: #d35400;

html {
     font-size: 125%;
}


h1, h2, h3, h4, h5, h6, p, a {
     margin: 0;
     padding: 0;
}

h1 {
     font-size: 5rem;
     font-family: $headerFont;
     text-transform: uppercase;
     text-align: center;
     text-shadow: 2px 2px 1px $gold;
     
}

p {
     font-family: $baseFont;
     font-weight: 600;
     letter-spacing: 1.5px;
     // text-transform: uppercase;
}
