$headerFont: 'Monoton', cursive;
$baseFont: 'Dorsa', sans-serif;
$blue: #a8f0f0;
$gold: #f0a848;

html {
     font-size: 125%;
}

h1 {
     font-family: $headerFont;
     text-transform: uppercase;
     text-align: center;
     text-shadow: 2px 2px 1px $gold;
}

p {
     font-family: $baseFont;
     font-weight: 600;
     letter-spacing: 1.5px;
     // text-transform: uppercase;
}
