
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 10px 2px;
    margin: 0 auto;
    background-color: $gold;
    border: 2px solid $burnt;
    border-radius: 15px;
  }
  
  .dropDown {
    background-color: $lemon;
    border: none;
    padding: 0.5em 1em;
    border-radius: 15px;
    width: 60%;
    font-family: $baseFont;
    text-align: center;
    border: 2px solid $lemon;
  }
  
  .dropDown:hover {
    color: $lemon;
    background-color: $black;
    border: 2px solid $lemon;
    cursor: pointer;
  }
  
  label {
    font-family: $baseFont;
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: normal;
  }
  
  .customDadDiv{
    width: 100%;
    margin: 0 auto;
  }

  .stackBox {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    font-family: $baseFont;
    width: 60%;
  }
  
  input {
    text-align: center;
    margin: 10px 0;
    background-color: $lemon;
    font-family: $baseFont;
    border: 2px solid $lemon;
    padding: 0.5em 1em;
    border-radius: 15px;
    
  }
  
  input:hover {
    cursor: pointer;
  }
  
  .arrowDiv {
    position: relative;
  }
  
  .enterButton {
    position: absolute;
    border: none;
    font-family: $baseFont;
    font-size: 2rem;
    text-transform: uppercase;
    top: 125px;
    right: 110px;
    background-color: transparent;
    z-index: 10;
  }
  
  .enterButton:hover {
    background-color: $black;
    color: $lemon;
    border: 3px solid $lemon;
    cursor: pointer;
  }