html {
  font-size: 125%;
}

body {
  font-family: "Chicle", cursive;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

header h1 {
  font-size: 4rem;
  font-family: "Monoton", cursive;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 4px 4px 2px #f0a848, 8px 8px 2px #d35400;
  font-weight: 400;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  margin: 30px auto;
}

header h2 {
  font-size: 1.6rem;
  font-family: "Chicle", cursive;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

header p {
  font-size: 1rem;
  font-weight: normal;
  margin: 15px auto;
}

p {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 2rem;
  margin: 10px auto;
}

.joke {
  font-size: 1rem;
  color: black;
}

.go-back {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #a8f0f0;
}

footer p {
  font-size: 1.5rem;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  padding: 10px 2px;
  margin: 0 auto;
  background-color: #f0a848;
  border: 2px solid #d35400;
  border-radius: 15px;
}

.dropDown {
  background-color: #f0ffa8;
  border: none;
  padding: 0.5em 1em;
  border-radius: 15px;
  width: 60%;
  font-family: "Chicle", cursive;
  text-align: center;
  border: 2px solid #f0ffa8;
}

.dropDown:hover {
  color: #f0ffa8;
  background-color: #000000;
  border: 2px solid #f0ffa8;
  cursor: pointer;
}

label {
  font-family: "Chicle", cursive;
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.customDadDiv {
  width: 100%;
  margin: 0 auto;
}

.stackBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
  font-family: "Chicle", cursive;
  width: 60%;
}

input {
  text-align: center;
  margin: 10px 0;
  background-color: #f0ffa8;
  font-family: "Chicle", cursive;
  border: 2px solid #f0ffa8;
  padding: 0.5em 1em;
  border-radius: 15px;
}

input:hover {
  cursor: pointer;
}

.arrowDiv {
  position: relative;
}

.enterButton {
  position: absolute;
  border: none;
  font-family: "Chicle", cursive;
  font-size: 2rem;
  text-transform: uppercase;
  top: 125px;
  right: 110px;
  background-color: transparent;
  z-index: 10;
}

.enterButton:hover {
  background-color: #000000;
  color: #f0ffa8;
  border: 3px solid #f0ffa8;
  cursor: pointer;
}

.slideshow {
  margin: 100px auto;
  overflow: hidden;
  max-width: 500px;
  -webkit-box-shadow: 0 0 0 5px #f0a848, 0 0 0 10px #f0d830, 0 0 0 15px #f0ffa8, 0 0 0 20px #a8f0f0, 0 0 0 25px #60d8d8;
          box-shadow: 0 0 0 5px #f0a848, 0 0 0 10px #f0d830, 0 0 0 15px #f0ffa8, 0 0 0 20px #a8f0f0, 0 0 0 25px #60d8d8;
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-slider {
  white-space: nowrap;
  -webkit-transition: ease 1000ms;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}

.slide img {
  height: 400px;
  width: 350px;
}

.joke {
  display: inline;
  white-space: normal;
  color: white;
  font-weight: normal;
  padding: 0 10px;
}

/* Buttons */
.slideshowDots {
  text-align: center;
  background-color: none;
  margin-bottom: 20px;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #16558F;
}

.go-back {
  text-decoration: none;
  color: black;
  padding: 20px 40px;
  background-color: #f0ffa8;
  border-radius: 50%;
}
.go-back:hover, .go-back:focus {
  background-color: #a8f0f0;
}

.footerContent {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 946px) {
  header h1 {
    font-size: 3.5rem;
  }

  header h2 {
    font-size: 1.6rem;
  }

  .dropDown {
    width: 80%;
    margin: 0 auto;
  }

  .stackBox {
    width: 80%;
  }

  img {
    width: 190px;
    height: auto;
  }

  .enterButton {
    font-size: 1.5rem;
    top: 80px;
    right: 65px;
  }

  footer p {
    font-size: 1.2rem;
  }
}
@media (max-width: 830px) {
  header h1 {
    font-size: 2.5rem;
  }

  header h2 {
    margin: 15px auto;
  }

  footer p {
    font-size: 1rem;
    font-weight: normal;
  }
}
@media (max-width: 640px) {
  .slideshow {
    max-width: 400px;
  }

  .slide img {
    height: 300px;
    width: 350px;
  }

  form {
    width: 80%;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .slideshow {
    max-width: 350px;
    margin: 70px auto;
  }

  .slide img {
    height: 350px;
    width: 300px;
  }

  .joke {
    font-size: 0.7rem;
  }

  .slideshowDot {
    height: 15px;
    width: 15px;
  }

  .go-back {
    padding: 15px 30px;
    font-size: 1rem;
  }
}
@media (max-width: 430px) {
  .slideshow {
    max-width: 300px;
  }

  .slide img {
    height: 300px;
    width: 250px;
  }

  .joke {
    font-size: 0.7rem;
  }

  .slideshowDot {
    height: 15px;
    width: 15px;
  }
}
@media (max-width: 430px) and (max-width: 375px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#a8f0f0), color-stop(25%, #f0f0a8), color-stop(50%, #f0d830), color-stop(75%, #f0a848));
  background: linear-gradient(180deg, #a8f0f0 0% 25%, #f0f0a8 25% 50%, #f0d830 50% 75%, #f0a848 75% 100%);
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}